* {
  background-color: #f9f9f9;
  color: #5c5c5c;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  color: #5c5c5c;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #5c5c5c;
}

.contentContainer {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 150px;
  padding: 50px 0 0 50px;
}

.defaultContent {
  padding-top: 100px;
  width: 75%;
}

.homeImage {
  width: 60%;
  min-width: 250px;
}

.aboutImage {
  widows: 25%;
  max-width: 250px;
  padding-right: 25px;
}

.resume {
  line-height: 1.5rem;
}
.resume h3 {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 1em;
  }

  .sidebar {
    width: 75px;
    padding: 10px 0 0 10px;
  }

  .defaultContent {
    padding-top: 30px;
    width: 65%;
  }

  .aboutImage {
    padding-top: 16px;
    width: 50%;
    max-width: 250px;
    padding-right: 25px;
  }

  .homeImage {
    padding-top: 16px;
    width: 60%;
    min-width: 200px;
  }
}

.blog_img {
  width: 300px;
}

.blog_img_large {
  width: 600px;
}

.inline_blog_img {
  vertical-align: text-bottom;
  width: 300px;
  display: inline-block;
}

.inline_blog_img_l {
  vertical-align: text-bottom;
  width: 400px;
  display: inline-block;
}
.inline {
  display: inline-block;
}
